<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSATool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSATool.Properties.Settings>
            <setting name="Kraeuter_MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Kraeuter_IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Kraeuter_FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Kraeuter_Sinnesschaerfe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kraeuter_Wildnisleben" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kraeuter_Pflanzenkunde" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nahrung_MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Nahrung_IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Nahrung_FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Nahrung_Sinnesschaerfe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nahrung_Wildnisleben" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nahrung_Pflanzenkunde" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nahrung_Ackerbau" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_MU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Jagd_IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Jagd_GE" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Jagd_Faehrtensuche" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_Wildnisleben" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_Tierkunde" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_Schleichen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_SichVerstecken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_Fernkampfwaffe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Jagd_Scharfschuetze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Jagd_Meisterschuetze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fischen_IN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Fischen_KL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Fischen_FF" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Fischen_KK" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Fischen_FischenAngeln" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fischen_Fallenstellen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="About_ManuelleEingabe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="About_CharakterKopplung" serializeAs="String">
                <value>True</value>
            </setting>
        </DSATool.Properties.Settings>
    </userSettings>
</configuration>